* {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body{
    background-color: rgba(238, 238, 238, 0.645);
}

.container{
    padding-top: 5%;
}
h1{
    font-size: 120%;
    margin-bottom: 1rem;
}

#navbar {
    width: 30%;
    float: left;
    height: 100vh;
    position: fixed;
    border-right: 1px solid rgb(2, 2, 2) ;
    text-align: center;
}
.navbar {
    width: 100%;
}
.nav-ul {
    width: 100%;
    padding-top: 1rem;

}
.nav-list {
 width: 100%;
 list-style: none;
 margin-bottom: 3rem;

}
.nav-link{
    width: 100%;
    padding: 1.5rem 0rem;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #495057 ;

}
.nav-link:hover {
    background-color: #b52b2d21;
    border-radius: .2rem;
}


/* main sections */

.main-doc {
    width: 60%;
    margin-left: 35%;

}
hr{
    color: #eee;
    font-weight: 400;
    margin: 10% 0%;
}
.main-section {
    padding-top: 0.1rem;
}

.section-header{
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.par{
    padding-left: 1rem;

}

.p{
    margin-bottom: 1rem;
    margin-top: 1rem;
    
    font-weight: 400;
    color: #495057;
}
.code-div{
    background: #b52b2d21;
    width: 100%;
    box-decoration-break: clone;
    padding: .5rem .5rem .4rem .8rem;
    border-radius: .2rem;
}
.code{
    
    font-weight: 400;
    color: #495057;
    font-family: MyFancyCustomFont, monospace;
    font-size: inherit;
    word-wrap: break-word;
    
}

.lists{
    margin-top: 2rem;

}

.ul-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.link-list{
    width: 100%;
    list-style: none;

}



@media (max-width: 1000px) {
    body{
        background-color: rgba(133, 50, 50, 0.138);
    }
}


